.popup__close-btn{
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  top: -40px;
  right: -40px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

.popup__close-btn::before {
  position: absolute;
  width: 32px;
  height: 32px;
  content: '';
  background-image: url(../../../images/popup/popup__close-btn.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .popup__close-btn {
    width: 32px;
    height: 32px;
    top: -40px;
    right: 0px;
  }
  .popup__close-btn::before {
    width: 20px;
    height: 20px;
  }
}